thesis/fault-modelling-theory/output/*
thesis/isabelle-hol-basic/output/*
**.bak
*~
**.thy.marks
Thumbs.db
**.bbl
**.blg
**.synctex.gz
**.idx
**.ilg
**.ind
**.lox
**.tdo
**.upa
**.aux
**.log
**.nav
**.out
**.snm
**.toc
**.vrb
**acronyms.log
**.synctex.gz
**.fls
**.fdb_latexmk
**.sublime-workspace
#**#
**.orig