thesis/fault-modelling-theory/output/*
thesis/isabelle-hol-basic/output/*
**.bak
*~
**.thy.marks
Thumbs.db
**.bbl
**.blg
**.synctex.gz
**.idx
**.ilg
**.ind
**.lox
**.tdo
**.upa
**acronyms.log
**.synctex.gz